<input type="text" placeholder="Search" [(ngModel)]="term">
<button (click)="filter()"> Filter </button>
<table class="table table-striped">
    <thead>
        <tr>
            <th>CreatedAt</th>
            <th> Account Name </th>
            <th> Available Balance </th>
            <th> Currency </th>
            <th> User Image</th>
            <th> Account Number</th>
            <th> Id </th>
        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let account of accounts">
            <td>{{account.createdAt}}</td>
            <td> {{account.account_name}}</td>
            <td> {{account.available_balance}}</td>
            <td> {{account.currency}}</td>
            <td> <img src="{{account.user_image}}" width="100px" heigth="100px"></td>
            <td> {{account.account_number}}</td>
            <td> {{account.id}}</td>
            <td>
                <button (click)="view(account.id)" class="btn btn-success">View</button>
            </td>
        </tr>
    </tbody>
</table>

<ul class="pagination">
    
    <li class="page-item" (click)="pagination(1)"><a class="page-link" >1</a></li>
    <li class="page-item"(click)="pagination(2)"><a class="page-link" >2</a></li>
    <li class="page-item"(click)="pagination(3)" ><a class="page-link" >3</a></li>
    
  </ul>
