<h1>Cart</h1>

<label for="">Name :</label>
<input type="text" [(ngModel)]="name">
<br><br>
<label for="">Price :</label>
<input type="number" [(ngModel)]="price">
<br><br>
<label for="">Quantity :</label>
<input type="number" [(ngModel)]="quantity">
<br><br>
<button (click)="addtocart()">Add to Cart</button>
<br><br>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>S.No</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items; let i=index">
            <td>{{i+1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.price | price}}</td>
            <td>{{item.quantity}}</td>
            <td>
                <button class="btn btn-success" (click)="delete(i)">Delete</button>
            </td>

        </tr>
    </tbody>
</table>


