<div class="parent">
    <div class="d1">
        <h4 routerLink="interpolation">Interpolation</h4>
        <h4 routerLink="event-binding">Event binding</h4>
        <h4 routerLink="two-way-binding">Two Way Binding</h4>
        <h4 routerLink="calculator">Calculator</h4>
        <h4 routerLink="rectangle">Rectangle</h4>
        <h4 routerLink="square">Square</h4>
        <h4 routerLink="power">Power</h4>
        <h4 routerLink="event-registration">Event Registration</h4>
        <h4 routerLink="employee-registration">Employee Registration</h4>
        <h4 routerLink="cart">Cart</h4>
        <h4 routerLink="pipes">Pipes</h4>
        <h4 routerLink="car">Cars</h4>
        <h4 routerLink="star">Star</h4>
        <h4 routerLink="g-pay">G-Pay</h4>
        <h4 routerLink="bank">Bank</h4>
        <h4 routerLink="vehicle"> Vehicles </h4>
        <h4 routerLink="post"> Posts </h4>
        <h4 routerLink="flipkart"> Flipkart</h4>
        <h4 routerLink="mail"> Mail </h4>
        <h4 routerLink="boredom"> Boredom </h4>
        <h4 routerLink="create-account"> Create Account</h4>
        <h4 routerLink="create-user"> Create-User</h4>
        <button (click)="logout()">logout</button>

    </div>
    <div class="d2">
        <router-outlet></router-outlet>

    </div>
</div>

